[package]
name = "jwt-simple"
version = "0.11.4"
description = "Easy to use, secure, non opinionated JWT (JSON Web Tokens) implementation for Rust."
authors = ["Frank Denis <github@pureftpd.org>"]
edition = "2018"
license = "ISC"
repository = "https://github.com/jedisct1/rust-jwt-simple"
homepage = "https://github.com/jedisct1/rust-jwt-simple"
categories = ["wasm", "api-bindings", "web-programming", "cryptography"]
keywords = ["jwt", "jws", "authentication", "tokens", "json"]
readme = "README.md"

[dependencies]
anyhow = "1.0.69"
binstring = "0.1.1"
ciborium = { version = "0.2.0", optional = true }
coarsetime = "0.1.23"
ct-codecs = "1.1.1"
ed25519-compact = { version = "2.0.4", features = ["pem"] }
hmac-sha1-compact = "1.1.3"
hmac-sha256 = { version = "1.1.6", features = ["traits010"] }
hmac-sha512 = { version = "1.1.4", features = ["traits010", "sha384"] }
k256 = { version = "0.13.0", features = ["ecdsa", "std", "pkcs8", "pem"] }
p256 = { version = "0.13.0", features = ["ecdsa", "std", "pkcs8", "pem"] }
p384 = { version = "0.13.0", features = ["ecdsa", "std", "pkcs8", "pem"] }
rand = "0.8.5"
rsa = "0.7.2"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.94"
spki = "0.6.0"
thiserror = "1.0.39"
zeroize = "1.5.7"

[dev-dependencies]
benchmark-simple = "0.1.7"

[features]
cwt = ["ciborium"]

[[bench]]
name = "benchmark"
harness = false

[profile.release]
codegen-units = 1
incremental = false
panic = "abort"
lto = "fat"

[profile.bench]
codegen-units = 1
