[package]
name = "jwt-simple"
version = "0.1.12"
description = "Easy to use, secure, unopinonated JWT (JSON Web Tokens) implementation for Rust."
authors = ["Frank Denis <github@pureftpd.org>"]
edition = "2018"
license = "ISC"
repository = "https://github.com/jedisct1/rust-jwt-simple"
homepage = "https://github.com/jedisct1/rust-jwt-simple"
categories = ["wasm", "api-bindings", "web-programming", "cryptography"]
keywords = ["jwt", "jws", "authentication", "tokens", "json"]
readme = "README.md"

[dependencies]
anyhow = "1.0"
coarsetime = "0.1"
ct-codecs = "0.1"
ed25519-compact = "0.1"
hmac-sha256 = { version = "0.1", features = ["traits"] }
hmac-sha512 = { version = "0.1", features = ["traits", "sha384"] }
k256 = { version = "0.5", features = ["ecdsa", "std"] }
p256 = { version = "0.5", features = ["ecdsa", "std"] }
rand = "0.7"
rsa = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
zeroize = "1.1"

[profile.release]
codegen-units = 1
incremental = false
panic = "abort"
lto = "fat"

[profile.bench]
codegen-units = 1
